.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-height: 100vh;
  width: 100vw;
}

.titlea{
  
  color: #0075FF;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 2px;

  border: 1px solid rgb(0, 183, 255);
  border-radius: 5px;
  width: 100%;
  max-width: 450px;

  padding:5px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom: 10px;
}

.data{
  color:#000287;
  font-weight: 500;
}

.fadeout{
  color: #FFFFFF;
    text-align: center;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
     opacity: 0;
}
